* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "mystery quest";
  src: url(../fonts/magic_bright_serif/Magic\ Bright\ Script\ Light.otf);
}
.a {
  margin-top: 200px;
}

/* barra nav */
header {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
  width: 100%;
  top: 0;
}
header nav {
  background-color: rgb(190, 120, 63);
  position: sticky;
  top: 0;
  height: 74px;
  z-index: 1;
}
header nav .inicioc:hover {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.502);
}
header nav .nav-link {
  transition: all 0.2s;
}
header nav .nav-link:hover {
  border-bottom: 2px solid brown;
}
header nav .logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}
header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
header nav a #inicio {
  list-style: none;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 5px;
}
header nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: end;
  margin-top: 5px;
}
header nav ul li {
  margin: 5px;
  text-decoration: none;
  list-style: none;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgba(34, 30, 30, 0.931);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: 15px;
  min-height: 150px;
  height: 100%;
}
footer span {
  align-self: center;
  justify-self: center;
  border-right: 0.5px solid rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-items: center;
  width: 40px;
}
footer .redes {
  height: 40px;
  width: 40px;
}
footer .espaciado {
  line-height: 1.9;
}
footer .espaciadomedio {
  line-height: 1.4;
}

/* carrito */
#maincart {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5% 45% 20% 30%;
  grid-template-areas: "h2 h2 h2" ". span  aside" ". button aside" ". none .";
}

#maincart > h2 {
  grid-area: h2;
}

#maincart > span {
  grid-area: span;
}

#maincart > a {
  grid-area: button;
  padding: 20px;
}

#maincart > aside {
  grid-area: aside;
}

#publi {
  align-items: center;
  justify-self: center;
  margin-top: 70px;
}

#publicidad {
  height: 600px;
  width: 300px;
  align-self: center;
  justify-self: center;
}

#cartboton {
  margin-left: 15%;
  margin-top: 0px;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  background-color: rgb(165, 79, 42);
  font-size: 13px;
  font-weight: bold;
}

#cspan {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* home */
#fondomain {
  height: 100%;
  width: 100%;
  background-image: url(../img/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background: linear-gradient(rgba(255, 157, 0, 0.726), rgb(86, 51, 16));
  z-index: 2;
}

.carrusel-contenedor {
  height: 600px;
  width: 70%;
  align-self: center;
  box-shadow: 0 0 10px;
}

.img-contenedor {
  height: 600px;
}

header section {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 320px;
  margin-left: 20px;
  margin-top: 10px;
}

header section img {
  height: 500px;
  width: 10%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 5s ease;
  margin-right: 20px;
}

header section img:hover {
  cursor: crosshair;
  width: 345px;
  height: 520px;
  opacity: 1;
  filter: contrast(120%);
}

body {
  background-color: rgb(231, 196, 153);
  font-size: 21px;
  font-family: "mistery quest", monospace;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

.wasap {
  position: fixed;
  top: 94%;
  left: 96.5%;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 128, 0, 0.372);
}

main {
  height: 100%;
  min-height: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: mistery quest, monospace;
}

#homemd {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  margin-bottom: 300px;
}

#homemds {
  height: 100%;
  width: 90%;
  padding: 30px;
  border: 4px;
  border-style: ridge;
  border-radius: 10px;
  background-color: rgba(165, 99, 42, 0.419);
}

#video {
  justify-content: flex-start;
  align-content: flex-start;
  width: 700px;
  height: 600px;
}
#video #video::hover {
  height: 700px;
}

main article {
  height: 400px;
}

#donde {
  color: black;
  background-image: linear-gradient(to right, rgb(255, 234, 0) 50%, brown 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 50px;
  height: 100px;
  width: 400px;
  margin-bottom: 90px;
  margin-left: 37%;
  font-size: 25px;
  transition: background-position 0.5s ease;
  margin-right: 100px;
}

/* inicio cesion */
#fondoinicio {
  height: 100%;
  width: 100%;
  background-image: url(../img/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fondoform {
  background-color: rgba(45, 27, 3, 0.601);
  margin: 8% 25%;
  height: 50%;
}

.iniciobot {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 166, 0, 0.745);
  font-weight: bolder;
  font-size: 17px;
}

main form button {
  align-self: center;
}

#isection {
  align-items: center;
  margin-bottom: 100px;
}

main section p {
  font-size: 30px;
}
main section a button {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 166, 0, 0.745);
  font-weight: bolder;
  font-size: 17px;
}

/* nosotros */
#divnos {
  margin-top: 100px;
  margin-bottom: 100px;
  align-self: center;
  color: antiquewhite;
  background-color: rgba(222, 108, 9, 0.713);
  width: 90%;
  padding: 50px;
}

.negrita {
  font-weight: bolder;
}

#fondonos {
  height: 100%;
  width: 100%;
  background-image: url(../img/fondonos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* productos */
#mainprod {
  display: flex;
  flex-direction: column;
}

.imgprod {
  width: 20%;
  height: 100%;
  margin-right: 10px;
  display: inline;
}

.producto {
  display: flex;
  flex-direction: row;
  border: 4px;
  border-style: ridge;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
  max-height: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px;
}
.producto img {
  width: 200px;
}

.botonprod {
  height: 40px;
  min-width: 170px;
  align-items: bottom;
  align-self: flex-end;
  background-color: black;
  color: white;
  border-radius: 70px;
  border-color: white;
}

h2 {
  background-color: rgba(255, 166, 0, 0.565);
}

main article h3 {
  width: 260px;
}
main article span {
  align-self: center;
  width: 50%;
  align-self: start;
  margin-top: 30px;
  line-height: 2;
  font-weight: 500;
  font-size: 17px;
}
main article p {
  width: 100px;
  align-self: end;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 23px;
}
main article button {
  background-color: black;
  color: burlywood;
  border-radius: 50px;
  width: 300px;
  font-size: 15px;
  height: 50px;
  width: 200px;
  align-self: end;
}

/* registro */
#fondoreg {
  height: 100%;
  width: 100%;
  background-image: url(../img/fotoreg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input {
  width: 320px;
  text-align: center;
  align-self: center;
  padding: 5px;
  background-color: rgb(222, 184, 135);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
section div {
  margin-left: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 45%;
  background-color: rgba(220, 149, 57, 0.909);
}

#formreg {
  align-items: center;
  height: 450px;
}

#fondo {
  height: 600px;
}

@media (min-device-width: 701px) {
  header img {
    height: 700px;
  }
  main {
    min-height: 800px;
  }
  #donde {
    align-content: center;
    justify-content: center;
    display: block;
    font-size: 20px;
    height: 100px;
    width: 300px;
    background-color: yellow;
    text-decoration: none;
    margin-bottom: 200px;
  }
  #p {
    padding: 35px;
  }
  #homemd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  #homemds {
    font-size: 18;
    justify-self: center;
    align-self: center;
    margin-top: 250px;
    height: 100%;
    border: 4px;
    border-style: ridge;
    border-radius: 10px;
    background-color: rgba(165, 99, 42, 0.419);
  }
  #publicidad {
    height: 500px;
    width: 180px;
    margin-bottom: 170px;
  }
  #cspan {
    margin-left: 100px;
    width: 300px;
  }
  .imgprod {
    min-width: 160px;
  }
  .logo {
    height: 75px;
    width: 220px;
  }
  #isection {
    font-size: 10px;
    color: white;
  }
}
@media (max-device-width: 700px) {
  body header .carrusel-contenedor {
    height: 400px;
    width: 80%;
    align-self: center;
  }
  body header .img-contenedor {
    height: 400px;
  }
  body header img {
    height: 300px;
    box-shadow: inset;
  }
  body header nav ul li a {
    font-size: 10px;
  }
  body main article button {
    font-size: 8px;
  }
  body main form {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  body main form button {
    height: 50px;
    width: 90%;
  }
  body main form input {
    width: 80%;
    height: 20px;
    font-size: 8px;
  }
  body main form section a button {
    height: 20px;
    width: 100%;
    font-size: 12px;
  }
  body main form section input {
    height: 20px;
    width: 80%;
    font-size: 6px;
  }
  body main section p {
    color: #fff;
  }
  body article h3 {
    font-size: 15px;
    font-weight: bolder;
    width: 15px;
  }
  body article button {
    width: 80%;
  }
  body footer {
    font-size: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  body footer span {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
  }
  #inicio {
    font-size: 10px;
  }
  .wasap {
    display: none;
  }
  .main-div {
    display: row;
  }
  #video {
    display: none;
  }
  #divnos {
    align-items: center;
    justify-items: center;
    padding: 5px;
    width: 90%;
    font-size: 12px;
  }
  main aside a {
    display: none;
  }
  #cspan {
    height: 300px;
    width: 1vw;
    font-size: 14px;
    margin-top: 50px;
    align-self: center;
    justify-self: center;
  }
  #cartboton {
    align-self: center;
    justify-self: center;
  }
  #maincart {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5% 45% 30% 20%;
    grid-template-areas: "h2 h2 h2" ". none span " ". button ." ". none .";
  }
  #publicidad {
    height: 400px;
    width: 60px;
  }
  .iniciobot {
    height: 20px;
    width: 90%;
    font-size: 10px;
  }
  #fondo {
    height: 450px;
  }
  .producto {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 290px;
    height: 450px;
  }
  .producto h3 {
    align-self: center;
    font-size: 12px;
    width: 120px;
  }
  .producto img {
    align-self: center;
    justify-self: center;
    height: 100px;
    width: 120px;
  }
  .producto button {
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 1;
    height: 25px;
    margin-top: -70px;
    width: 100px;
  }
  .producto p {
    align-self: center;
    font-size: 10px;
    margin-top: 5px;
    width: 120px;
  }
  .producto span {
    font-size: 7px;
    align-self: center;
    margin-top: 0px;
    width: 120px;
  }
  .redes {
    width: 10px;
    height: 10px;
  }
  #homemd {
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
  }
  #homemds {
    align-self: center;
    justify-self: center;
    height: 100%;
    margin-left: 5%;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    border: 4px;
    border-style: ridge;
    border-radius: 10px;
    background-color: rgba(165, 99, 42, 0.419);
  }
  #donde {
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 18px;
    height: 80px;
    width: 250px;
    align-items: center;
    justify-items: center;
    background-color: yellow;
    text-decoration: none;
    margin-bottom: 100px;
  }
  #p {
    padding: 25px;
  }
  .logo {
    height: 75px;
    width: 100px;
  }
  main form, form h2, main form section p, main form section a button, main form button {
    font-size: 13px;
  }
  #isection {
    font-size: 12px;
  }
}


/*# sourceMappingURL=estilos.css.map */
