
/* nosotros */
#divnos {
    margin-top: 100px;
    margin-bottom: 100px;
    align-self: center;
    color: antiquewhite;
    background-color: rgba(222, 108, 9, 0.713);
    width: 90%;
    padding: 50px;
  }
  
  .negrita {
    font-weight: bolder;
  }
  
  #fondonos {
    height: 100%;
    width: 100%;
    background-image: url(../img/fondonos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  